{
  "extends": [
    "@jedwards1211/eslint-config-typescript",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-use-before-define": 0
  }
}
